body {
background-image: url('../images/pink_rice.png');
background-size: cover;
text-align: center;
}

h1 {
  margin: 15px;
  text-align: center;
  font-size: 60px;
  color: #E91E63;
  font-family: 'Bungee', cursive;
}

.instructions {
  background-color: #CCB3B3;
  color: #f1e3e3;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  width: 800px;
  height: 500px;
  text-align: center;
  margin: 0 auto;
  position: relative;
  border-radius: 20px;
}

.instructions > h2 {
    font-weight: 400;
}

.instructions > p1, p2, p3 {
  padding: 20px;
  margin: 20px;
  font-size: 35px;
  line-height: 70px;
}

span {
  color: #E91E63;
  font-size: 45px;
  padding: 40px;
  font-family: 'Bungee', cursive;
}

#tayimg {
  position: absolute;
  bottom: 75px;
  left: 50px;
}

#rihimg {
  position: absolute;
  bottom: 50px;
  right: 50px;
  index: -1;
}

#drakeimg {
  position: absolute;
  bottom: 50px;
  left: 260px;
}

#rih {
  position: absolute;
  bottom: 25px;
  right: 70px;
  index: 5;
  font-size: 25px;
}

#drake {
  position: absolute;
  bottom: 25px;
  right: 350px;
  index: 5;
  font-size: 25px;
}

#tay {
  position: absolute;
  bottom: 25px;
  left: 70px;
  index: 5;
  font-size: 25px;
}

button {
  padding: 10px;
  font-size: 15px;
  position: absolute;
  bottom: -10px;
  left: 340px;
  background-color: #f1e3e3;
  color:#E91E63;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  border-radius: 20px;
}

ul.grid {
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
  padding: 0;
  width: 600px;
  height: 600px;
  border-radius: 20px;
}

li {
list-style-type: none;
  width: 198px;
  height: 198px;
  border: 1px solid purple;
  float: left;
  color: #FFF;
  background-repeat: no-repeat;
  background-position: center;
}

.red {
  background-color: red;
}

.countdown {
  padding: 60px;
  float: left;
  border: 1px solid purple;
  background-color: red;
}

.scoreboard {
  padding: 60px;
  float: right;
  border: 1px solid purple;
  background-color: red;
}

.winner {
  color: black;
  clear: both;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  float: right;
  border: 1px solid purple;
  background-color: red;
  display: none;
}

.loser {
  color: black;
  clear: both;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  float: right;
  border: 1px solid purple;
  background-color: red;
  display: none
}
