body {
background: pink;
}

ul.grid {
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
  padding: 0;
  width: 600px;
  height: 600px;
}

li {
list-style-type: none;
  width: 198px;
  height: 198px;
  border: 1px solid purple;
  float: left;
  color: #FFF;
}

.red {
  background-color: red;
}

.countdown {
  padding: 60px;
  float: left;
  border: 1px solid purple;
  background-color: red;
}

.scoreboard {
  padding: 60px;
  float: right;
  border: 1px solid purple;
  background-color: red;
}

.winner {
  color: black;
  clear: both;
  text-align: center;
  margin: 0 auto;
  padding: 40px;
  float: right;
  border: 1px solid purple;
  background-color: red;
  display: none;
}
