body {
background: url(images/bg.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
background: pink;
font-family: 'Bungee', cursive;
text-align: center;
}

ul.grid {
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
  padding: 0;
  width: 600px;
  height: 600px;
}

li {
list-style-type: none;
  width: 198px;
  height: 198px;
  border: 1px solid purple;
  float: left;
  color: #FFF;
  background-repeat: no-repeat;
  background-position: center;
}

.red {
  background-color: red;
}

.countdown {
  padding: 60px;
  float: left;
  border: 1px solid purple;
  background-color: red;
}

.scoreboard {
  padding: 60px;
  float: right;
  border: 1px solid purple;
  background-color: red;
}

.winner {
  color: black;
  clear: both;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  float: right;
  border: 1px solid purple;
  background-color: red;
  display: none;
}

.loser {
  color: black;
  clear: both;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  float: right;
  border: 1px solid purple;
  background-color: red;
  display: none
}

img {
  /*visibility: hidden;*/
  /*display: none;*/
  z-index: 1;

}
